<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.growfast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrowFast">
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.RecyclerViewSetup.GotoCards.EditFBCoverPagesActivity"></activity>
        <activity
            android:name=".NavigationItemsFolder.GridsMenuActivityClasses.RecyclerViewSetup.GotoCards.ExoVideosWpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.RecyclerViewSetup.CartItemsActivity" />
        <activity
            android:name=".NavigationItemsFolder.GridsMenuActivityClasses.RecyclerViewSetup.GotoCards.FillDigitalCardDetailsActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.VideosCardsActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.RecyclerViewSetup.GotoCards.EditsDifferentGreetingsCards" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.RecyclerViewSetup.GotoCards.WhatsappVideos" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.GreetingsCardsActivities.ConceptsActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.GreetingsCardsActivities.CombinationActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.GreetingsCardsActivities.ComboPostersActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.GreetingsCardsActivities.HealthActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.GreetingsCardsActivities.LifeActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.GreetingsActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.WhatsappStatusVideoActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.RecyclerViewSetup.GotoCards.ProductOverview" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.DigitalCardsActivity" />
        <activity android:name=".NavigationItemsFolder.GridsMenuActivityClasses.WebsiteActivity" />
        <activity android:name=".NavigationItemsFolder.Settings" />
        <activity
            android:name=".NavigationItemsFolder.BusinessManagement"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".StructureBaseActivity" />
        <activity android:name=".WelcomePagesActivity" />
        <activity android:name=".Authentication.PhoneAuthActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service
            android:name=".Services.MyNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark_skyblue" />

    </application>

</manifest>